node_modules

deploy.sh

#.env
.env

# .env
.env.local
.env.development
.env.test
.env.production

# build output
.next/

# test results
test-results/

# SWC cache
.swc/

# lock files
package-lock.json
yarn.lock

# misc
*.log

*storybook.log
storybook-static
