@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --background: #ffffff;
  --foreground: #ffffff;
   --primary-red-color: #ef4444;
      --primary-purle-color: #6366f1;
    --primary-yellow-color: #f59e0b;
   --primary-green-color: #10b981;
   --primary-blue-color: #3b82f6;
    --primary-orange-color: #f97316;
     --primary-zinc-color:#18181B;
    --primary-gray-color : #4B5563;
}

     :root{
      --hover-red-color: #f16a6a;
    --hover-purle-color: #7a7cf0;
     --hover-yellow-color: #eea72c;
      --hover-blue-color: #5d95f0;
    --hover-green-color: #3fd6a4;
     --hover-orange-color: #f78738;
     }

:root{
  --text-black:#070707;
  --text-gray:#363535;
   --text-white:#ffffff;
   --text-neutral:#9CA3AF;
     --text-gray-thin:#D1D5DB;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
   
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.themecll{ 
  background-color: var(--primary-red-color);
}
.themecll:hover{
  background-color: var( --hover-red-color);
}

/* header */
.drop{
  background-color: var(--primary-red-color);
 color: var(--text-white);
}
.drop:hover{
  background-color: var( --hover-red-color);
  color: var(--text-black);
  
}
.dropdown{
  background-color: var(--background);
  color: var(--text-black);
}
.inner:hover{
  color: var(--text-white);
  background-color: var(--primary-red-color);
}
.dropimg{
  border-color: var(--text-white);
}
/* sidebar */
.click{
  background-color: var(--primary-red-color);
  color: var(--text-white);
}
.click:hover{
  background-color: var(--hover-red-color);
  color: var(--text-black);
}
.sidehover:hover{
  color: var(--text-neutral);
  background-color: var(--primary-zinc-color);
}
/* custmore */
.dataname{
  color: var(--primary-gray-color);
  border-color: var(--text-gray-thin);
}

