name: Deploy to Production

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SERVER_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.AWS_HOST_IP }} >> ~/.ssh/known_hosts

      - name: Deploy to Production Server
        run: ssh ${{ secrets.SERVER_USER }}@${{ secrets.AWS_HOST_IP }} "cd /var/www/html/prod && ./deploy.sh"